<template>
  <v-app> 
    
    <navbar/>
    
    <v-main class="grey lighten-2">
      <!-- Agrego la navbar que funciona como un componente
           aislado, esta en la carpeta components -->
     
      <!-- Clave para la logica de movernos entre paginas -->
      <router-view/>
      <!-- Salvo que queramos un footer o algo por el estilo
          este template ya esta listo -->
    </v-main>
  </v-app>
</template>

<script>
/*Para importar componentes no olvidarse:
      import HelloWorld from './components/HelloWorld'; 
  y agregarlo aca (*) */

import navbar from './components/navbar';

export default {
  name: 'App',
  components: {
    navbar
  },
  data(){
    return{
      
    }
  }
};
</script>

