<template><div>
<v-img contain src="@/assets/fondo_login.jpg">
    <v-container fluid class="fill-height pa-0 ma-0">
        
        <v-row>
            <v-col>
                <v-row justify="center" align="center">
                    <v-card rounded>
                        <v-card-text>
                            <v-row>
                                <v-text-field class="mx-3" outlined label="Email"></v-text-field>
                            </v-row>
                            <v-row>
                                <v-text-field class="mx-3" 
                                              outlined label="Contraseña" 
                                              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                              :type="show ? 'text' : 'password'"
                                              @click:append="show = !show"/>
                            </v-row>
                            <v-divider></v-divider>
                            <v-row align="center" justify="center" class="mt-2">
                                <v-btn dark block tile color="#5aa3cf"> Iniciar Sesión </v-btn>
                            </v-row>
                            <v-row align="center" justify="center">
                                <v-btn dark block tile color="success" class="mt-3"> Registrarme </v-btn>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-row>
            </v-col>
        </v-row>
    </v-container></v-img></div>
</template>

<script>
export default {
    data(){
        return{
            show: false
        }
    }
}
</script>