<template>
    <v-container fluid class="pa-0 ma-0">

        <!-- POP-UP del Log-In -->
        <v-dialog v-model="logInClicked" max-width="700px" @click:outside="click_outside_login">
            <v-card rounded class="mt-4">
                <v-card-title class="justify-center"> Bienvenido! </v-card-title>
                <v-divider class="grey lighten-1"></v-divider>
                <v-card-text>
                    <v-row align="center" justify="center" class="mt-3 mb-3">
                        <v-btn dark block tile color="#5aa3cf" @click="login=!login"> Ya tengo cuenta </v-btn>
                    </v-row>
                    <v-row align="center" justify="center">
                        <v-btn dark block tile color="success" @click="register=!register"> Soy nuevo! </v-btn>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-dialog v-model="login" max-width="700px" @click:outside="login=!login">
            <v-card rounded class="mt-4">
                <v-card-title class="justify-center"> Entra con tu cuenta </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-text-field v-model="l_email" class="mx-3" outlined label="Email"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field v-model="l_pass" class="mx-3" 
                                        outlined label="Contraseña" 
                                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                        :type="show ? 'text' : 'password'"
                                        @click:append="show = !show"/>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row align="center" justify="center" class="mt-2">
                        <v-btn dark block tile color="#5aa3cf" @click="loginAcc"> Iniciar Sesión </v-btn>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-dialog v-model="register" max-width="700px" @click:outside="register=!register">
            <v-card rounded class="mt-4">
                <v-card-title class="justify-center"> Crea tu cuenta </v-card-title>
                <v-card-text>
                    <v-form v-model="valid" ref="form" lazy-validation>
                    <v-row>
                        <v-text-field class="mx-3" 
                                    outlined
                                    required 
                                    label="¿Como queres que te llamemos?"
                                    :rules="nameRules" 
                                    v-model="r_usr"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field class="mx-3"
                                    outlined
                                    required 
                                    label="Email"
                                    :rules="emailRules"
                                    v-model="r_email"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field class="mx-3" 
                                    outlined label="Contraseña"
                                    required
                                    :rules="passwordRules" 
                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="show ? 'text' : 'password'"
                                    @click:append="show = !show"
                                    v-model="r_passw"/>
                    </v-row>
                    <v-row>
                        <v-text-field class="mx-3" 
                                    required
                                    outlined label="Confirmar Contraseña" 
                                    :rules="passConfirmationRules"
                                    :type="show ? 'text' : 'password'"
                                    v-model="r_c_passw"/>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row align="center" justify="center" class="mt-2">
                        <v-btn block
                                :disabled="!valid"
                                tile color="success"
                                @click="registerform"> Registrarse </v-btn>
                    </v-row></v-form>
                </v-card-text>
            </v-card>
        </v-dialog>

        <!-- El resto de la pagina -->
        <v-img contain src="@/assets/Fotuli.png"></v-img>
        <v-row>
            <v-col cols="12" >
                <v-row justify="center">
                    <v-btn dark x-large rounded color="#F57F17" @click="logInClicked = !logInClicked">Cotiza tu pedido ahora!</v-btn>
                </v-row>
            </v-col>
        </v-row>
        <v-row no-gutters dense>
            <v-col cols="12" md="4" xl="4">
                <v-row justify="center">
                    <v-card max-width="80%" shaped class="mb-5">
                        <v-card-title class="justify-center">
                            <h2>¿Que hacemos?</h2>
                        </v-card-title>
                        <v-card-text>
                            <div>Nosotros nos encargamos de ayudarte a elegir el mejor precio para tus compras diarias. Mantenemos el precio de los productos actualizados para que no encuentres diferencias con los precios que encontrás en el supermercado.</div>
                            <v-row justify="center">
                                <v-img max-width="20%" contain src="@/assets/queHacemos.png"></v-img>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-row>
            </v-col>
            <v-col cols="12" md="4" xl="4">
                <v-row justify="center">
                    <v-card max-width="80%" shaped class="mb-5">
                        <v-card-title class="justify-center">
                            <h2>¿Como Funciona?</h2>
                        </v-card-title>
                        <v-card-text>
                            <div v-for="(step, index) in steps" :key="index">
                                <v-list-item>
                                    <v-list-item-avatar><v-img contain :src="require('@/assets/'+imgs[index])"></v-img></v-list-item-avatar>
                                    <v-list-item-content><div>{{step}}</div></v-list-item-content>
                                </v-list-item>
                                <v-row justify="center">
                                    <v-img max-width="20%" contain :src="require('@/assets/'+imgs2[index])"></v-img>
                                </v-row>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-row>
            </v-col>
            <v-col cols="12" md="4" xl="4">
                <v-row justify="center">
                    <v-card max-width="80%" shaped class="mb-5">
                        <v-card-title class="justify-center">
                            <h2>Algunas Opciones</h2>
                        </v-card-title>
                        <v-card-text>
                            <v-carousel cycle hide-delimiters show-arrows-on-hover height="400" width="100">
                                <v-carousel-item v-for="(img, index) in supers" :key="index">
                                    <v-sheet class="white" height="100%" width="400">
                                    <v-row class="fill-height" align="center" justify="center">
                                    <img :src="require('@/assets/'+supers[index])" style="width:200px;height:auto;"/></v-row>
                                    </v-sheet>
                                </v-carousel-item>
                            </v-carousel>
                        </v-card-text>
                    </v-card>
                </v-row>
            </v-col>                            
        </v-row>
    </v-container>
</template>

<script>
import { logInBus } from "../main"
import {mapActions, mapState} from 'vuex'

export default {
    data(){
        return{
            // Para hacer todo un poco mas dinamico en la v-card de ¿Como funciona?
            steps: ["Arma tu carrito de compras desde nuestro sitio web.",
                    "Compara el valor de tu carrito entre los supermercados que mas cerca estén de vos.",
                    "Relajate y espera que tu pedido llegue."],
            imgs: ['one.png', 'two.png', 'three.png'],
            imgs2: ['s1.png', 's2.png', 's3.png'],
            supers: ['jumbo.png', 'coto.png', 'dia.png', 'carrefour.jpg'],
            // Para el v-dialog de las opciones log-in
            show: false,
            logInClicked: false,
            // Para saber si hizo click en el boton de iniciar sesion del pop up
            login: false, 
            // Para saber si hizo click en el boton de registrarme del pop up
            register: false, 
            // Para el registro de usuarios
            r_usr:'',
            r_email:'',
            r_passw:'',
            r_c_passw:'',
            valid: false,
            nameRules: [
                v => !!v || 'Name is required',
            ],
            emailRules: [
                v => !!v || 'El email es obligatorio.',
                v => /.+@.+/.test(v) || 'El email ingresado no es valido.',
            ],
            passwordRules:[
                v => !!v || 'Necesitas una contraseña.',
                v => v.length >= 6 || 'La contraseña es demasiado corta, minimo 6 caracteres o digitos.',
            ],
            passConfirmationRules:[
                v => !!v || 'Confirma tu contraseña.',
                v => v == this.r_passw || 'Las contraseñas no coinciden.',
            ],
            // Para el Log-In de usuarios
            l_email:'',
            l_pass:''
        }
    },
    methods:{
        ...mapActions(['registerAcc','loginToAcc']),
        click_outside_login(event){
            console.log(event);
            this.logInClicked=false;
            logInBus.$emit('log_in_clicked_outside', false);
        },
        logInForm(){
            this.login = !this.login;
        },
        loginAcc(){
            this.loginToAcc({
                email:this.l_email,
                pass:this.l_pass
            })
        },
        registerform(){
            if(this.$refs.form.validate()){
                this.registerAcc({
                    name:this.r_usr,
                    email:this.r_email,
                    pass:this.r_passw
                })
            }
        },
        validate () {
            if(this.$refs.form.validate())
                console.log('entre')
            else
                console.log(this.$refs.form.validate())
      },
    },
    computed:{
        ...mapState(['error'])
    },
    created(){
        logInBus.$on('log_in_clicked', (data)=>{
            this.logInClicked=data;
        })
    }
}
</script>

<style>
    div {
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.1em;
    }
</style>

