<template>
    <v-app-bar app dark flat dense color="#65bcc6">
        <customIcon name="logo" class="mr-3"/>
        <router-link to="/" tag="span"> 
            <v-toolbar-title> Voy al Super </v-toolbar-title>
        </router-link>
        <v-spacer></v-spacer>
        <v-btn small depressed color="#F57F17" @click="click">Iniciar Sesion</v-btn>
    </v-app-bar>
</template>

<script>
import customIcon from "@/components/custom-icons.vue"
import { logInBus } from "../main"

export default {
    components:{
        customIcon
    },
    data(){
        return{
            clicked: false
        }
    },
    methods:{
        click(event){
            console.log(event);
            logInBus.$emit('log_in_clicked', true);
        }
    },
    created(){
        logInBus.$on('log_in_clicked_outside', (data)=>{
            this.clicked=data;
        })
    }
}
</script>
