<template>
    <v-container fluid class="ma-0 pa-0 fill-height">
        <v-navigation-drawer dark permanent color="#5aa3cf" width="285">
            <v-list-item-group>
                <v-subheader>
                    <v-icon>mdi-view-dashboard</v-icon>
                    <span class="ml-1">Acciones</span>
                </v-subheader>
                <v-divider class="grey lighten-2"></v-divider>
                <v-list-item two-line v-for="item in items" :key="item.text" router :to="item.route">
                    <v-list-item-icon class="mr-2">
                        <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content class="pt-0">
                        <v-list-item-title v-text="item.text"></v-list-item-title>
                        <v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
             <template v-slot:append>
                <div class="pa-2">
                    <v-btn block color="#f67e18" @click="logoutBtn">
                        Cerrar Sesión
                    </v-btn>
                </div>
            </template>
        </v-navigation-drawer>
    </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {
    data(){
        return{
            items:[
                {icon:'mdi-cart-outline', text:'Mi Carrito', subtitle: 'Analizar y comparar precios.', route:'/algo1'},
                {icon:'mdi-magnify', text:'Buscar Productos', subtitle: 'Ver nuestro catalogo de productos.', route:'/algo2'},
                {icon:'mdi-heart', text:'Favoritos', subtitle:'Tus pedidos mas frecuentes.', route:'/algo3'},
                {icon:'mdi-history', text:'Historial', subtitle:'Ver tu historial de Pedidos.', route:'/algo3'},
                {icon:'mdi-account', text:'Cuenta', subtitle:'Configuracion de tu cuenta.', route:'/algo3'}
            ]
        }
    },
    methods:{
        ...mapActions(['logout']),
        logoutBtn(){
            this.logout();
        }
    },
    computed:{
        ...mapState(['error'])
    }
}
</script>